<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Config</title>
</head>
<body>
    <div>
        <h1>Config page</h1>

        {% if user %}
            Configured email: {{ user.email }}
            <a href="{{ url_for('index') }}">Back</a>
        {% endif %}

        <form action="{{ url_for('edit') }}" method="POST">
            
            <label for="username"><b>Provide your name</b></label>
            <input type="text" placeholder="Username" name="username" required>

            <label for="email"><b>Provide your email</b></label>
            <input type="email" placeholder="Email" name="email" required>

            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>